*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --main-color: #000000;
    --main-txt-color: rgb(255, 255, 255);
    --main-bleu-color:  #3363af;
    --main-txt-color-08 : rgba(255, 255, 255, 0.8);

    background-color: var(--main-color);
    color: var(--main-txt-color);

    font-family: "hanken-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;

    /* font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: "hanken-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal; */
}
/* header */
header{
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--main-txt-color);
    width: 100%;
    height: 150px;

}
.logo_header_div{

    display: flex;
    align-items: center;
    width:15%;
    height: 100%;
}
.logo_header{
    cursor:pointer;
    height: 120%;
}
.btn_header_div, .devis_header_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1vw;
}
.devis_header_div{
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
}
.tel_header{
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}
/* fin header */
.container_vid_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    position: relative;
    overflow: hidden;
    color: var(--main-txt-color);
}
.video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.txt_div{
    margin-right: 1vw;
    width: 90%;
    color: var(--main-txt-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}
.logo_vid{
    width: 200px;
    height: auto;
}
#titre{
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    /* text-transform: uppercase; */
    margin-top: 1vw;
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#sous_titre{
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-top: 1vw;
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.ben_presentation_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.img_ben {
    width: 35vw;
    height: 100%;
    aspect-ratio: 9/16;
    background-image: url("../imgs/ben.jpg");
    background-size: cover;
    background-position: 0 20%;
}
.ben_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 65%;
    height: 100%;
}
.logo_ben_presentation{
    width: 400px;
    height: auto;
}
#titre_ben{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    color: var(--main-txt-color);
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}
.nos_services_div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/fond_service_accroche.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.texte_accroche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.logo_accroche{
    width: 125px;
    height: auto;
}
#titre_service{
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: var(--main-bleu-color);
    margin-top: 2%;
    margin-bottom: 2vh;
}
#sous-titre_accroche{
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    color: var(--main-txt-color);
}
#diag_immo_txt{
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5em;
    color: var(--main-bleu-color);
}
#entreprise_particulier_txt{
    font-family: "stevie-sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1em;
    margin-top: 1%;
    color: var(--main-txt-color);
}
