@media only screen and (max-width: 950px) {
    header{
        height: 100px;
    }
    .logo_header_div{
        width: 40%;
    }
    .logo_header{
        height: auto;
        width: 100%;
    }
    .btn_header_div{
        display: none;
    }
    .devis_header_div{
        margin-right: 5%;
        width: 45%;
    }
    .btn_header_devis{
        width: 100%;
        font-size: 1em;
    }
    .tel_header{
        width: 100%;
        font-size:6.5vw;
    }
    #titre{
        width: 95%;
        font-size: 2em;
    }
    #sous_titre{
        margin-top: 25px;
        width: 95%;
        font-size: 1.2em;
    }
    .ben_presentation{
        height: auto;
        width: 100%;
    }
    .ben_presentation_div{
        height: auto;
        flex-direction: column;
    }
    .img_ben{
        width: 100%;
    }
    .logo_ben_presentation{
        margin-top: 2.5vh;
        margin-bottom: 5vh;
    }
    #titre_ben{
        width: 90%;
        margin-left: 2.5%;
        font-size: 1.1em;
    }
    .btn_diagnostics{
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 90%;
        font-size: 1em;
    }
    .all_services_div{
        width: 100%;
        flex-direction: column;
        flex-wrap:nowrap;
    }
    .card {
        /* Ajustez la hauteur des cartes selon vos besoins */
        height: 50vh;
        width: 100%;
        min-height: 500px;
        /* Pour une meilleure visibilité des cartes */
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
    }
    #DPE, #Amiante, #Electricité, #Gaz, #Termites, #Plomb, #Loi,#ERP,#Audit_énergétique{
        width: 100%;
    }

    .logo_card{
        width:15vh;
        min-width: 120px;
        max-width: 150px;
        margin-bottom: 5vh;
    }
    .btn_card{
        margin-top: 5vh;
        margin-bottom: 0;
        opacity: 1;
        pointer-events: all;
    }
    .contact_div_all{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .contact_txt_div{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
    }
    .input_div{
        width: 90%;
        /* margin-left: 5%; */
    }
    .zone_contact_div{
        width: 100%;
        margin-top: 5vh;
        /* margin-bottom: 5vh; */
        flex-direction: column;
    }
    .zone_txt_div{
        width: 100%;
        margin-top: 5vh;
        flex-direction: column;
        margin-bottom: 0;
    }
    .zone_txt_div textarea{
        width: 90%;
        height: 20vh;
        margin-bottom: 0;
    }
    .info_diags76_div{
        flex-direction: column;
        width: 100%;
    }
    .logo_info_diags76{
        width: 35vh;
        min-width: 120px;
        max-width: 350px;
        margin-bottom: 5vh;
    }
    .info_diags{
        width: 90%;
        font-size: 1em;
    }
    #ligne{
        width: 90%;
        margin-left: 5%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .info_diags p{
        margin-bottom: 5px;
    }
    .btn_devis_info_diags{
        width: 90%;
        margin-top: 2vh;
        margin-bottom: 5vh;
        font-size: 1em;
    }
    .btn_info_diags76{
       width: 70%;
    }
    .footer_div{
        flex-direction: column;
        margin-top: 2em;
        height: auto;
    }
    .menu_tel{
        display: flex;
        width: 100%;
        height: 35px;
        background-color: rgb(0, 0, 0);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .btn_menu_tel {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        height: 35px;
        background-color: transparent;
        border: none;
        color: var(--main-txt-color);
        font-family: "stevie-sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        border-radius: 15px;
        text-align: center;
    }
    .btn_menu_tel:active{
        background-color: var(--main-bleu-color);

    }
    .btn_dif_menu{
        position: absolute;
        background-color: var(--main-color);
        z-index: 80;
        width: 100%;
        height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px var(--main-txt-color);
        transition: all 0.2s ease-in-out;
    }
    
    #errer_message{
        font-size: 10px;
        height: 10px;
        width: 90%;
    }
}